{% extends 'base.html' %}

{% block content %}
<h1>Barnehager i Kristiansand</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Navn</th>
        <th>Antall plasser</th>
        <th>Antall ledige plasser</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Sørlandet Barnehage</td>
        <td>50</td>
        <td>0</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Kristiansand Småbarnssenter</td>
        <td>30</td>
        <td>5</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Blåbærtoppen Barnehage</td>
        <td>40</td>
        <td>20</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Randesund Liten og Stor Barnehage</td>
        <td>60</td>
        <td>3</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Havgløtt Barnehage</td>
        <td>25</td>
        <td>0</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Vågsbygd Skolebarnehage</td>
        <td>35</td>
        <td>12</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Fjordglimt Barnehage</td>
        <td>45</td>
        <td>0</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Kilden Barn og Lek</td>
        <td>55</td>
        <td>25</td>
    </tr>
    <tr>
        <td>9</td>
        <td>Eventyrhuset Barnehage</td>
        <td>20</td>
        <td>1</td>
    </tr>
    <tr>
        <td>10</td>
        <td>Trollstua Barnehage</td>
        <td>38</td>
        <td>4</td>
    </tr>
</table>
{% endblock %}


